In [15]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.preprocessing import MinMaxScaler

data = pd.read_csv("/Users/qianj/Documents/Kaggle_Competition/PlayGround/Classification_with_an_Academic_Success_Dataset/train.csv")

data.columns
data

,id,Marital status,Application mode,Application order,Course,Daytime/evening attendance,Previous qualification,Previous qualification (grade),Nacionality,Mother's qualification,...,Curricular units 2nd sem (credited),Curricular units 2nd sem (enrolled),Curricular units 2nd sem (evaluations),Curricular units 2nd sem (approved),Curricular units 2nd sem (grade),Curricular units 2nd sem (without evaluations),Unemployment rate,Inflation rate,GDP,Target
0,0,1,1,1,9238,1,1,126.0,1,1,...,0,6,7,6,12.428571,0,11.1,0.6,2.02,Graduate
1,1,1,17,1,9238,1,1,125.0,1,19,...,0,6,9,0,0.000000,0,11.1,0.6,2.02,Dropout
2,2,1,17,2,9254,1,1,137.0,1,3,...,0,6,0,0,0.000000,0,16.2,0.3,-0.92,Dropout
3,3,1,1,3,9500,1,1,131.0,1,19,...,0,8,11,7,12.820000,0,11.1,0.6,2.02,Enrolled
4,4,1,1,2,9500,1,1,132.0,1,19,...,0,7,12,6,12.933333,0,7.6,2.6,0.32,Graduate
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
76513,76513,1,17,1,9254,1,1,121.0,1,19,...,0,6,8,5,10.600000,0,13.9,-0.3,0.79,Graduate
76514,76514,1,1,6,9254,1,1,125.0,1,1,...,0,6,9,6,13.875000,0,9.4,-0.8,-3.12,Graduate
76515,76515,5,17,1,9085,1,1,138.0,1,37,...,0,5,8,5,11.400000,1,9.4,-0.8,-3.12,Enrolled
76516,76516,1,1,3,9070,1,1,136.0,1,38,...,0,6,0,0,0.000000,0,7.6,2.6,0.32,Dropout
76517,76517,1,1,1,9773,1,1,133.1,1,19,...,0,6,6,6,13.666667,0,15.5,2.8,-4.06,Graduate

In [10]:
y = data['Target']
X = data.drop(['id','Target','Course',],axis=1)

In [14]:
scaler = MinMaxScaler()
X = scaler.transform(X)

NameError: name 'MinMaxScaler' is not defined

In [11]:
X_train,X_test,y_train,y_test = train_test_split(X,y,train_size=0.8,random_state=42)

In [12]:
neighbors = [1,3,5,7,9,11,13,15,17,19]
scores = []

for k in neighbors:
    knn = KNeighborsClassifier(n_neighbors = k)
    knn.fit(X_train,y_train)
    scores.append([k,knn.score(X_test,y_test)])

scores

[[1, 0.6973993727130162],
 [3, 0.7264767381076843],
 [5, 0.7446419236800836],
 [7, 0.7494772608468374],
 [9, 0.7569916361735494],
 [11, 0.7594093047569263],
 [13, 0.7592132775744903],
 [15, 0.7594746471510716],
 [17, 0.7596053319393623],
 [19, 0.7586251960271825]]

In [7]:
knn = KNeighborsClassifier(n_neighbors = 15)
knn.fit(X_train,y_train)
yhat = knn.predict(X_test)
knn.score(X_test,y_test)

0.7419628855201255

In [13]:
TEST = pd.read_csv("/Users/qianj/Documents/Kaggle_Competition/PlayGround/Classification_with_an_Academic_Success_Dataset/test.csv")
test = TEST.drop(['id','Course'],axis=1)
yhat = knn.predict(test)

In [9]:
def file(yhat):
    yhat = pd.DataFrame({'Target':yhat})
    result = TEST.join(yhat)
    result[['id','Target']].to_csv("/Users/qianj/Documents/Kaggle_Competition/PlayGround/Classification_with_an_Academic_Success_Dataset/result.csv",index=False)
    return
file(yhat)